# Dependencies
node_modules/

# Builds and caches
.dist/
dist/
build/
.cache/
.next/
coverage/

# Env files
.env
.env.*
*/.env
*/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Local uploads and secrets
uploads/
server/uploads/
